<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a25908.partybuild">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/item2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        >
        <activity
            android:name=".Activitys.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.PartyCommitteeActivity" />
        <!-- <activity android:name=".Activitys.BaseActivity"></activity> -->

        <activity android:name=".Activitys.StudyActivity" />
        <activity android:name=".Activitys.AboutsActivity" />
        <activity android:name=".Activitys.OpinionActivity" />
        <activity
            android:name=".Activitys.ImagePagerActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity android:name=".Activitys.DetailsPageActivity" />
        <activity android:name=".Activitys.SupportActivity" />
        <activity android:name=".Activitys.AnswerActivity" />
        <activity android:name=".Activitys.AnswerDetailsActivity" />
        <activity android:name=".Activitys.QuestionsActivity" />
        <activity android:name=".Activitys.QuestionSurveyActivity" />
        <activity android:name=".Activitys.MydataActivity" />
        <activity android:name=".Activitys.PartymembersdetailsActivity" />
        <activity android:name=".Activitys.PalmPartySchoolActivity" />
        <activity android:name=".Activitys.PartydisciplineActivity" />
        <activity android:name=".Activitys.TheConstitutionOfThePartyActivity" />
        <activity android:name=".Activitys.PeopleGalleryActivity" />
        <activity android:name=".Activitys.FilesActivity" />
        <activity android:name=".Activitys.MyFilesActivity" />
        <activity android:name=".Activitys.PartyVideoActivity" />
        <activity android:name=".Activitys.PartyPayActivity"></activity>
    </application>

</manifest>