<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a25908.partybuild">

    <!-- 网络权限 -->
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 个推SDK权限配置开始 -->
    <!-- 读取电话状态	访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 唤醒锁定	允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 开机自动允许	允许程序开机自动运行 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 写入外部存储	允许程序写入外部存储,如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取任务信息	允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 配置个推透传第三方Receiver -->
        <receiver
            android:name=".Receivers.GetuiReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activitys.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.PartyCommitteeActivity" />
        <!-- <activity android:name=".Activitys.BaseActivity"></activity> -->
        <activity
            android:name=".Activitys.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"/>
        <activity
            android:name=".Activitys.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.StudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.AboutsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.OpinionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.DetailsPageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"/>
        <activity
            android:name=".Activitys.DetailsPageActivity2"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"/>
        <activity
            android:name=".Activitys.SupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.AnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.AnswerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.QuestionSurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MydataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.PartymembersdetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.PalmPartySchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.PartydisciplineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.TheConstitutionOfThePartyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.PeopleGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.FilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MyFilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.PartyVideoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"/>
        <activity
            android:name=".Activitys.PartyPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.tsteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Activitys.WebVedioActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activitys.TestWebActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activitys.FileContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MyPartyPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.HairDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MydataUpdataActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activitys.PayDetailsActivity" />
        <activity android:name=".Activitys.QuestionSurvey2Activity" />
        <activity android:name=".Activitys.OrganizationalActivity"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".QRCode_app.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".QRCode_app.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".QRCode_app.PreferencesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--支付宝配置-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
    </application>

</manifest>